doctype html
html
  head
    meta(charset="utf-8")
    title= mosaic
    link(rel="stylesheet", href="/node/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet", href="/public/javascripts/jquery-simplecolorpicker/jquery.simplecolorpicker.css")
    link(rel="stylesheet", href="/public/stylesheets/style.css")
  body
    block content
    script(src="/node/jquery/dist/jquery.min.js")
    script(src="/node/bootstrap/dist/js/bootstrap.min.js")
    script(src="public/javascripts/jquery-simplecolorpicker/jquery.simplecolorpicker.js")
    script(src="/public/javascripts/script.js")
